/* Generics */
* {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	color: #005;

}

a:hover {
	font-style: italic;
}

a:link, a:visited {
}

body {
	color: #030303;
	background-image: url(../img/bg-body.png);
	background-attachment: scroll;
}

input {
	padding: 5px;
	border-radius: 5px;
}

li {
	list-style: none;
	margin-left: 20px;
}

dd, dl {
	margin-left: 50px;
}

form {
	margin: 20px;
}

/*-----/GENERICS-----*/

.user {
	margin: 20px;
}


.user p, .user li, dd {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-right: -15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.user li {
	background-color: #555;
	font-size: 0.9em;
	animation: fadein 1s;
}

.user li a {
	color: white;
}


header {
	padding: 10px;
	background-color: #555;
}

header a {
	color: white;
	font-style: bold;
}

main {
	padding: 5px 25px 25px 25px;
}

dl span {
	margin-left: 25px;
}

footer {
	padding: 10px;
}

/* ANIMATIONS */
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes movein {
  from { left: 200px}
  to   { left: 0}
}